<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	 <servlet>
        	<servlet-name>mapoffline</servlet-name>
	        <init-param>
	            <param-name>useCache</param-name>
	            <param-value>true</param-value>
	        </init-param>
	        <init-param>
	        	<param-name>cacheDir</param-name>
	        	<param-value>F:\gitworkspace\opengis\mapofflinestudy\src\main\webapp\tiles\</param-value>
	        </init-param>
	        <servlet-class>com.tongtu.gis.MapProxyServlet</servlet-class>
	    </servlet>
        <servlet-mapping>
                <servlet-name>mapoffline</servlet-name>
                <url-pattern>/mapoffline/*</url-pattern>
        </servlet-mapping>
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
